body {
    font-family: 'robotolight', arial;
}

b, strong, .ordered-list .title {
    font-family: 'robotomedium';
    font-weight: normal;
}

.ordered-list,
.ordered-list ol {
    padding-left: 15px;
}

.ordered-list .title {
    padding-bottom: 5px;
}

.ordered-list p {
    margin-bottom: 5px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: auto;
}

.select2-container {
    width: 100% !important;
}

.table-responsive .row {
    margin: 0 !important;
}

.table-responsive .row > div {
    padding: 0 !important;
}

.align-middle {
    vertical-align: middle !important;
}

.bg-success {
    background-color: #DFF0D8 !important;
}

.table-font-size {
    font-size: 13px;
}

.ticker {
    margin:0;
    padding:12px;
    list-style-type:none;
	text-align:center;	
}
    .ticker li {
        line-height:1.5;
	text-align:center;
    }

.ticker-active {
    overflow:hidden;
	text-align:center;	
}
    .ticker-active li {
        display:none;
        overflow:hidden;
        white-space:nowrap;		
    }
    
.box-footer {
    padding-left: 0;
    padding-right: 0;
}

.info-box-number {
    font-size: 17px;
}