/*
	Loading Spinner
*/

#modal-loading {
	display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../img/loading.gif') 50% 50% no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading #modal-loading {
    display: block;
}

/*
	Custom Styles indra
*/

.alert {
	display: none;
}
.rata-tengah {
    text-align: center !important;
}
.nomarbot{
  margin-bottom: 0px !important;
}
.export{
    float: right;
    color: black;
}
a.export :hover{
    color: white;
}
img.aisen-logo {
    width:50% !important;
}
img.aisen-logo-login {
    width:90% !important;
    padding: 5%;
}
.martop{
    margin-top: 20px;
}
.notif{
    margin: 15px 15px 0 15px;
}
/*media queries*/
@media screen and (max-width: 767px) {
    img.aisen-logo{
        width:18% !important;
    }
}
@media screen and (max-width: 420px) {
    img.aisen-logo{
        width:35% !important;
    }
}