.distance-chat{max-width: 255px; word-wrap: break-word;margin-bottom: 20px;line-height: 24px;}

.day_divider_label{
    background: #F0F0F0;
    padding: .25rem .75rem;
    display: inline-block;
    margin: 0 auto;    
    position: relative;
    top:-14px;
    border-radius: .25rem;
    font-weight:bold;
}

.pagination>li>a.current{
	background:#666;
	color:#fafafa;
}